*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Gentium Book Plus', serif;
    background: #fdfdfd;
}
.section-one{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0, 0.3),rgba(0,0,0, 0.3)), url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-one-parent-one{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
}

.section-one-div-one{
    font-size: 2em;
    line-height: 60px;
    color: #fff;
}
#section-id{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    margin-top: 120px;
    background: #ff5959;
    border-radius: 7px;
}
#section-id a{
    text-decoration: none;
    font-weight: 400;
    color: #fff;
}
.section-two{
    margin-top: 50px;
}
.section-two-parent-two{
    text-align: center;
}
.section-three{
    margin-top: 60px;
}
.section-three-parent-one{
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.section-three-parent-one .section-three-div-box{
    position: relative;
    height: 100px;
    width: 100px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    background: rgb(222, 225, 236);
}
.section-three-parent-one .section-three-div-box h1{
    margin-top: 25px;
}
#box-two{
    background: #fccde2;
    color: #ff304f;
    border: 2px solid #ff304f;
}
.section-four{
    margin-top: 60px;
}
.section-four-parent-one{
    text-align: center;
}
.section-four-parent-one input{
    margin: 30px;
    height: 30px;
    width: 50%;
    border: none;
    border-bottom: 2px solid #ddd;
    outline: none;
}
.section-five{
    text-align: center;
}
.section-five-div-one a{
    margin: 30px;
    padding: 10px;
    background: #ff304f;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    border-radius: 6px;
}
.section-six{
    margin-top: 80px;
    text-align: center;
}
.section-six-parent-one .section-six-div-one h1{
    font-size: 2em;
}
.section-six-parent-one .section-six-div-two p{
    color: rgb(191, 191, 191);
}
.section-seven{
    margin-top: 40px;
}
.section-seven-div-one{
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;
    width: 100%;
}
.section-seven-div-box-one{
    margin: 10px;
    padding: 20px;
    height: 300px;
    width: 300px;
    margin: 10px;
    text-align: justify;
}
#section-seven-id-one{
    background: #e2f3f5;
}
#section-seven-id-two{
    background: #fccde2;
}
#section-seven-id-three{
    background: #f4fa9c;
} 
.section-seven-div-box-one i{
    font-size: 2em;
}
.section-seven-div-box-one h1{
    margin-top: 20px;
}
.section-seven-div-box-one p{
    margin-top: 20px;
}

.section-eight{
    margin-top: 100px;
}
.section-eight-div-one{
    display: flex;
    margin: 100px;
    justify-content: center;
    margin-top: 30px;
    padding: 50px;
    border: 3px solid red;
    background: #f0f696;
}

.section-eight-div-box{
    width: 400px;
    height: 500px;
    padding: 30px;
    margin: 15px;
    border: 3px solid red;
}
.section-eight-div-box a{
    position: absolute;
    padding: 10px;
    margin-top: 30px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    background: #ff304f;
}
#section-id-one{
    background: #fff4e3;
}
#section-id-two{
    background: #e8ffe8;
}
.section-nine{
    margin-top: 10px;
}
.section-nine-div-one{
    text-align: center;
    padding: 30px;
}
.section-nine-div-one h1{
    font-size: 3em;
    color: #000;
}
.section-nine-div-one p{
    color: #000;
}
.section-ten{
    margin-top: 50px;
}
.section-ten-div-one{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.section-ten-div-box-one{
    width: 820px;
    height: 150px;
    padding: 60px;
    align-items: center;
    justify-content: center;
    background: #a6fff2;
    padding-left: 290px;
    border: 5px solid yellow;
}
.section-ten-div-box-one input{
    height: 30px;
    width: 50%;
    outline: none;
    border: none;
    background: silver;
}
.section-ten-div-box-one a{
    padding: 3px;
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    border-radius: 0 3px 3px 0;
    margin-left: -2px;
    background: #ff304f;
}
footer{
    margin-top: 150px;
    height: 100px;
    color: #fff;
    background: #000;
    text-align: center;
}
footer h1{
    font-size: 2em;
    color: #74f9ff;
}
footer p{
    color: silver;
}